{% block content %} 
	<!--<section id="restaurants-intro">
		<div class="row">
			<div class="column one-half push-quarter">
				<p>"That corner spot? It's perfect for a concert."<br>- The New York Times<br><br>"A complete success."<br>- Edna Landau</p>
			</div>
		</div>
	</section>-->
	<section id="restaurants-content" class="page-basic no-header">
		<div class="row clearfix">
			<div class="column two-thirds phone-full">
				<article class="page-section">
					<h2 class="section-title">Contact Us</h2>
					<p class="large">Whether it's a question, comment, idea, or you're a restaurant looking to host a concert - we're always eager to hear from you.</p>
					<div class="row clearfix" style="margin-bottom:2em;">
						<div class="column two-thirds push-sixth">
							<form action="/">
								<label for="name">Full Name</label>
								<input type="text" name="name" />
								<label for="email">Email Address</label>
								<input type="email" name="email" placeholder="example@example.com" />
								<label for="message">Message</label>
								<textarea name="message" id="" cols="30" rows="10"></textarea>
								<button type="submit" class="button raised-button primary">Send</button>
							</form>
						</div>
					</div>
					<div class="row clearfix board-row">
						<h2 class="section-title">Board of Directors</h2>
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<a href="http://blog.tertulianyc.org/" target="_blank"><img src="/assets/img/board/julia-sq.jpg" alt="" /></a>
								</div>
								<div class="description">
									<p>Julia Villagra</p>
									<!--<h4>President</h4>-->
								</div>
							</div>
						</div>
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<img src="/assets/img/board/bill-sq.jpg" alt="" />
								</div>
								<div class="description">
									<p>Bill Vanderson</p>
									<!--<h4>Vice President</h4>-->
								</div>
							</div>
						</div>
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<img src="/assets/img/board/laura-sq.jpg" alt="" />
								</div>
								<div class="description">
									<p>Laura Schubert</p>
									<!--<h4>Secretary</h4>-->
								</div>
							</div>
						</div>
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<a href="http://www.jamesaustinsmith.com" target="_blank"><img src="/assets/img/board/james-sq.jpg" alt="" /></a>
								</div>
								<div class="description">
									<p>James Austin Smith</p>
								</div>
							</div>
						</div>
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<a href="http://theeyetravels.blogspot.com/" target="_blank"><img src="/assets/img/board/sam-sq.jpg" alt="" /></a>
								</div>
								<div class="description">
									<p>Samantha Angelo</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix board-row">
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<img src="/assets/img/board/oaz-sq.jpg" alt="" />
								</div>
								<div class="description">
									<p>Oaz Nir</p>
								</div>
							</div>
						</div>
						<div class="column one-fifth phone-half">
							<div class="card">
								<div class="media-area">
									<a href="http://www.stefanjackiw.com" target="_blank"><img src="/assets/img/board/stefan-sq.jpg" alt="" /></a>
								</div>
								<div class="description">
									<p>Stefan Jackiw</p>
								</div>
							</div>
						</div>
					</div>	
				</article>	
			</div>
			<div class="column one-quarter push-twelfth hide-phone page-sidebar contact-sidebar">
				<div class="card" style="padding:1em;">
					<p>General Questions<br><a href="mailto:info@tertulianyc.org">info@tertulianyc.org</a><br>646.352.3562</p>
					<p>Press<br><a href="mailto:press@tertulianyc.org">press@tertulianyc.org</a></p>
					<p><a href="/restaurants.html">Restaurants</a></p>
					<p>Tertulia, Inc.<br>51 W 16th St<br>New York, NY 10011</p>
					<p style="margin-bottom:0"><a href="/about.html#faq">FAQ</a></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
{% endblock %}