{% block content %} 
	<section id="restaurants-intro">
		<div class="row">
			<div class="column one-half push-quarter">
				<p>"That corner spot? It's perfect for a concert."<br>- The New York Times<br><br>"A complete success."<br>- Edna Landau</p>
			</div>
		</div>
	</section>
	<section id="restaurants-content" class="page-basic">
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<article class="page-section">
					<h2 class="section-title">Contact Us</h2>
					<p class="large">For general inquiries please email <a href="mailto:info@tertulianyc.org">info@tertulianyc.org</a></p>
					<p class="large">To contact the artistic directors please email <a href="mailto:info@tertulianyc.org">info@tertulianyc.org</a> or call us at (646)352-3562</p>
					<p class="large">For press inquiries please email <a href="mailto:press@tertulianyc.org">press@tertulianyc.org</a> or call us at (646)352-3562</p>
					<p class="large">Become a host restaurant by filling out the form <a href="http://tertulia.andygillette.com/restaurants.html">here</a>.</p>
					
					<p class="large">Board of Directors</p>
					<ul>
						<li>Julia Villagra, president</li>
						<li>Bill Vanderson, vice president</li>
						<li>Laura Schubert, secretary</li>
						<li>James Austin Smith</li>
						<li>Samantha Angelo</li>
						<li>Andrew Hood</li>
						<li>Stefan Jackiw</li>
					</ul>	
				</article>	
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
{% endblock %}