{% block content %} 
	<section class="page-intro" id="musicians" style="padding:10em 0 5em 0;background:#fff;border-bottom:1px solid #ddd;background:url(../assets/img/musicians-bg-new.jpg) center center no-repeat;background-size:cover;">
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<p class="large" style="color:#fff;text-shadow:0 0 1em #000">Discovering classical music means building a personal relationship with both the music and the artists; chamber music is about how people communicate through composition. Tertulia artists are asked to describe their first memories of music, some of their favorite experiences as a musician, and their most meaningful career accomplishments.</p>
			</div>
		</div>
	</section>
	<section id="jesse-content" class="page-basic">
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
				<article class="page-section">
					<h2 class="section-title">Personal Notes</h2>
					<figure class="fig-left">
						<img src="/assets/img/artists/jesse-mills-thumbnail.jpg" width="100%" alt="Jesse Mills" />
						<figcaption>Jesse Mills, Violin</figcaption>
					</figure>
					<blockquote>I'm happy to tell my personal musical story.  I was guided by my mother quite early on.  She loves music, and she grew up singing at home and in church; I think she planned to cultivate a violinist when she eventually had a child.  Lucky for me, I was that child!  I was three years old when I started playing, and she practiced with me throughout the early years.  I enjoyed playing and made steady progress.  However, it wasn't until I was in high school that I truly fell in love with music.  I could play reasonably well at this point, after thousands of hours spent with the instrument, but I had never lost myself in the joy of making music.  Then, I was exposed to more and more musical traditions from around the world.  I was turned on to jazz and other improvised music by a high school friend, and we enjoyed listening to records and CDs on his hifi stereo system.  I would close my eyes and hear musicians like Charlie Parker, Miles Davis, Wayne Shorter, Bill Evans, and many others "talking to each other" with their sounds.   We would listen to orchestral recordings, too, and find the same overwhelming excitement, reveling in the diverse colors and textures.  Listening to Ravel, Brahms, and then Mozart and Schoenberg I began to realize that the music I was practicing on my violin was part of this same wonderful world of sound, and by now I was hooked and wanted no other life than a career in music.  I have been very lucky to have been able to make a living playing my violin.  I enjoy chamber music above all other forms.  My colleagues and I have a very satisfying opportunity to express our individual voices, and yet we can also be part of a collective, something bigger than any one of us. <cite>Jesse Mills, violin</cite></blockquote>
					<h2 class="section-title">Jesse at Tertulia</h2>
					<div class="row clearfix event-row">
						<div class="column one-quarter event-date hide-phone">
							<span class="year">Nov 24</span>
							<span class="month-day">2014</span>
						</div>
						<div class="column three-quarters event-listing phone-full">
							<img src="/assets/img/artists/todd-palmer-thumbnail.jpg" alt="">
							<h3>Todd Palmer &amp; Friends</h3>
							<h4>Harding's | 7 pm</h4>
							<h4>32 East 21st St | NYC</h4>
							<div style="clear:both;">
								<a class="button raised-button primary" href="/concerts/1415/november.html"><i class="fa fa-ticket"></i> Tickets &amp; Info</a>
								<a class="button raised-button" href="#"><i class="fa fa-plus"></i> Add to Calendar</a>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
{% endblock %}