{% block content %} 
	<section id="restaurants-intro">
		<div class="row">
			<div class="column one-half push-quarter">
				<p>"That corner spot? It's perfect for a concert."<br>- The New York Times<br><br>"A complete success."<br>- Edna Landau</p>
			</div>
		</div>
	</section>
	<section id="restaurants-content" class="page-basic">
		<div class="row clearfix">
			<div class="column two-thirds">
				<article class="page-section">
					<h2 class="section-title">Support Tertulia</h2>
					<p class="large">Ticket sales alone make up the majority of Tertulia’s annual revenue, but we still need your help to balance our budget. We’re a 501(c)(3) so your donation is tax-deductible.</p>

					<p><a href="#">Donate</a></p>

					<h2 class="section-title">Become a Member</h2>
					<p class="large">Take advantage of special events, open rehearsals, restaurant discounts and more by becoming a member.</p>

					<p><a href="#">Membership</a></p>

					<h2 class="section-title">Season Sponsorship</h2>
					<p class="large">Love the idea of supporting a performing arts organization in New York? Tertulia is a fast-growing new chamber music series that is aimed at the city’s younger generation of concert-goers.  If you or your company is interested in sponsorship, please contact Julia Villagra at <a href="mailto:julia@tertulianyc">julia@tertulianyc.org</a> or at 646-352-3562.</p>
				</article>
				
			
		</div>
	</section>
{% endblock %}
{% block scripts %}
{% endblock %}