---
layout: concert
date: 2015-04-14 19:00
title: "Anthony Roth Costanzo & ICE Ensemble @ Location TBD"
published: true
slug: /1415/april
location: "TBD"
group: "Anthony Roth Costanzo & ICE Ensemble"
address: TBD | NYC
calendar_month: April 14
calendar_year: 2015
thumbnail: "/assets/img/concerts/tbd.jpg"
feature: "/assets/img/concerts/tbd.jpg"
concert_id: 9
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>Music to be announced</p>
	<h4>Main Course</h4>
	<p>Music to be announced</p>
	<h4>Dessert</h4>
	<p>Music to be announced</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Anthony Roth Costanzo, <em>countertenor</em></li>
		<li>James Austin Smith, <em>oboe</em></li>
		<li>Rebekah Heller, <em>bassoon</em></li>
		<li>Kivie Cahn-Lipman, <em>cello</em></li>
		<li>Bridget Kibbey, <em>harp</em></li>
	</ul>
</div>