---
layout: concert
date: 2015-04-27 19:00
title: "Tara Helen O'Connor & Friends at Harding's"
published: true
slug: /1415/april-2
location: "Harding's"
group: "Tara Helen O'Connor & Friends"
address: 32 E 21st Street | NYC
calendar_month: April 27
calendar_year: 2015
thumbnail: "/assets/img/concerts/hardings.jpg"
feature: "/assets/img/concerts/hardings.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/4rQFdaQDn6jmtFZLvZbcOO"
concert_id: 10
eventbrite: "//eventbrite.com/tickets-external?eid=12914275947&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>PROKOFIEV Flute Sonata</p>
	<h4>Main Course</h4>
	<p>LIGETI Sonata for Solo Cello<br>LISZT/WAGNER Isolde’s Liebestod</p>
	<h4>Dessert</h4>
	<p>CRUMB Voice of the Whale</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/4rQFdaQDn6jmtFZLvZbcOO" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Tara Helen O'Connor, <em>flute</em></li>
		<li>Mihai Marcia, <em>cello</em></li>
		<li>Pedja Muzijevic, <em>piano</em></li>
	</ul>
</div>