---
layout: concert
date: 2015-04-14 19:00
title: "Anthony Roth Costanzo and the International Contemporary Ensemble at Cubana Social"
published: true
upcoming: true
slug: /1415/april
location: "Cubana Social"
group: "Anthony Roth Costanzo and the International Contemporary Ensemble"
address: 70 N 6th St | Williamsburg
calendar_month: April 14
calendar_year: 2015
thumbnail: "/assets/img/artists/anthony-costanzo-thumbnail.jpg"
feature: "/assets/img/cubana-bg.jpg"
food-pic: "/assets/img/food-cubana.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/0POmvRMXuT7nTRYLWxJTN8"
concert_id: 9
home_order: 4
featured: true
eventbrite: "//eventbrite.com/tickets-external?eid=12914456487&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>FAURE "Une chatelaine en sa tour" for solo harp <br>FUJIKURA Following for solo bassoon<br>H&Auml;NDEL "Ah, Crudel" from Rinaldo<br>FARRIN Michelangelo Song</p>
	<h4>Main Course</h4>
	<p>BACH Suite for solo cello in C Major, Prelude<br>CARTER Trilogy for Oboe and Harp</p>
	<h4>Dessert</h4>
	<p>FARRIN Aria for Solo Countertenor<br>H&Auml;NDEL "Tacero" from Agrippina<br>DU YUN 10pm Ixtab for solo bassoon<br>DOWLAND In Darkness Let Me Dwell</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/0POmvRMXuT7nTRYLWxJTN8" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Anthony Roth Costanzo, <em>countertenor</em></li>
		<li>James Austin Smith, <em>oboe</em></li>
		<li>Rebekah Heller, <em>bassoon</em></li>
		<li>Kivie Cahn-Lipman, <em>cello</em></li>
		<li>Bridget Kibbey, <em>harp</em></li>
	</ul>
</div>