---
layout: concert
date: 2015-02-16 19:00
title: "Timo Andres & Friends at Harding's"
published: true
slug: /1415/feb
location: "Harding's"
group: "Timo Andres & Friends"
address: 32 East 21st St | NYC
calendar_month: Feb 16
calendar_year: 2015
thumbnail: "/assets/img/artists/timo_andres.jpg"
feature: "/assets/img/concerts/tesla.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/2ygqodiJ5yKiStfNdse0Sa"
concert_id: 6
eventbrite: "//eventbrite.com/tickets-external?eid=12914159599&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>ANDRES & SCHUMANN: Selections for solo piano</p>
	<h4>Main Course</h4>
	<p>COPLAND: Twelve Poems of Emily Dickinson</p>
	<h4>Dessert</h4>
	<p>ANDRES: Piano Quintet</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/2ygqodiJ5yKiStfNdse0Sa" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Timo Andres, <em>piano</em></li>
		<li>Becca Stevens, <em>vocals</em></li>
		<li>Tesla Quartet</li>
	</ul>
</div>