---
layout: concert
date: 2015-01-11 19:00
title: "Dover Quartet at Tarallucci e Vino"
published: true
upcoming: true
slug: /1415/january
location: "Tarallucci e Vino"
group: Dover Quartet
address: 15 E 18th St | NYC
calendar_month: Jan 11
calendar_year: 2015
thumbnail: "/assets/img/artists/dover-thumbnail.jpg"
feature: "/assets/img/concerts/dover.jpg"
food-pic: "/assets/img/food-taralucci.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/7thomX1OtJOOHVl34opvPS"
concert_id: 5
home_order: 1
featured: true
eventbrite: "//eventbrite.com/tickets-external?eid=12874687537&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>LUDWIG Pale Blue Dot</p>
	<h4>Main Course</h4>
	<p>HAYDN String Quartet Op. 76, No. 1 in G Major</p>
	<h4>Dessert</h4>
	<p>KREISLER Caprice Viennois<br>ULLMANN String Quartet No. 3</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/7thomX1OtJOOHVl34opvPS" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Joel Link, <em>violin</em></li>
		<li>Bryan Lee, <em>violin</em></li>
		<li>Milena Pajaro-van de Stadt, <em>viola</em></li>
		<li>Camden Shaw, <em>cello</em></li>
	</ul>
</div>