---
layout: concert
title: "Elena Urioste, Nick Canellakis, and Michael Brown at Harding's"
published: true
slug: /1415/jan2
location: "Harding's"
group: "Elena Urioste, Nick Canellakis, and Michael Brown"
address: 32 East 21st St | NYC
calendar_month: Jan 26
calendar_year: 2015
thumbnail: "/assets/img/concerts/jan26-thumb.jpeg"
feature: "/assets/img/concerts/jan26.jpg"
concert_id: 5
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>BEACH Romance for violin and piano<br>BROWN New work for cello and piano (2014) 
<br>GANKINO HORO Bulgarian traditional arr. Canellakis for cello and piano</p>
	<h4>Main Course</h4>
	<p>RAVEL Piano Trio in A minor</p>
	<h4>Dessert</h4>
	<p>RAVEL Menuet sur le nom d'Haydn<br>RAVEL Le Tombeau de Couperin: Menuet<br>SHOSTAKOVICH Piano Trio no. 1 Op. 8</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Elena Urioste, <em>violin</em></li>
		<li>Nick Canellakis, <em>cello</em></li>
		<li>Michael Brown, <em>piano</em></li>
	</ul>
</div>