---
layout: concert
date: 2015-03-30 19:00
title: "Jennifer Johnson Cano & Friends at Harding's"
published: true
slug: /1415/mar-2
location: "Harding's"
group: "Jennifer Johnson Cano & Friends"
address: 32 E 21st Street | NYC
calendar_month: Mar 30
calendar_year: 2015
thumbnail: "/assets/img/concerts/mar30-thumb.jpg"
feature: "/assets/img/concerts/hardings.jpg"
concert_id: 8
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>STRAUSS Ein Alphorn<br>ANDRES World Premiere<br>RAVEL Cinq Mélodies populaires grecques</p>
	<h4>Main Course</h4>
	<p>ENESCU Concert Piece for viola and piano<br>BARBER Three Songs, Opus 10</p>
	<h4>Dessert</h4>
	<p>STRAUSS Andante for horn and piano<br>BRAHMS Zwei Gesänge, Opus 91</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Jennifer Johnson Cano, <em>mezzo-soprano</em></li>
		<li>Christopher Cano, <em>piano</em></li>
		<li>Mark Holloway, <em>viola</em></li>
		<li>Eric Reed, <em>horn</em></li>
	</ul>
</div>