---
layout: concert
title: "DECODA"
published: true
slug: /1415/may
location: "Cubana Social"
group: DECODA
address: 70 N 6th Street | Williamsburg
calendar_month: May 10
calendar_year: 2015
thumbnail: "/assets/img/concerts/cubanasocial.jpg"
feature: "/assets/img/musicians-bg.jpg"
concert_id: 10
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>ANDRES Moores</p>
	<h4>Main Course</h4>
	<p>Music to be announced</p>
	<h4>Dessert</h4>
	<p>Music to be announced</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Owen Dalby, <em>violin</em></li>
		<li>Anna Elashvili, <em>violin</em></li>
	</ul>
</div>