---
layout: concert
date: 2015-05-11 19:00
title: "DECODA at restaurant TBA"
published: true
upcoming: true
slug: /1415/may
location: "TBA"
group: DECODA
address: TBA | NYC
calendar_month: May 11
calendar_year: 2015
thumbnail: "/assets/img/artists/saeunn-thorsteinsdottir-thumbnail.jpg"
feature: "/assets/img/musicians-bg.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/13rkN2e2wVZ6uvKL14l7LV"
concert_id: 11
eventbrite: "//eventbrite.com/tickets-external?eid=12914546757&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>ANDRES Mooring <br>RAVEL Violin Sonata </p>
	<h4>Main Course</h4>
	<p>PROKOFIEV String Quartet No 1</p>
	<h4>Dessert</h4>
	<p>ANDRES Clamber Music<br>GADE Jealousy for Piano Trio (arr. Anna Elashvili)</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes 50 to 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/13rkN2e2wVZ6uvKL14l7LV" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Owen Dalby, <em>violin</em></li>
		<li>Anna Elashvili, <em>violin</em></li>
		<li>Meena Bhasin, <em>viola</em></li>
		<li>Saeunn Thorsteinsdottir, <em>cello</em></li>
		<li>Elizabeth Joy Roe, <em>piano</em></li>
	</ul>
</div>