---
layout: concert
title: "Todd Palmer & Friends at Harding's"
published: true
slug: /1415/november
location: "Harding's"
group: Todd Palmer & Friends
address: 32 East 21st St | NYC
calendar_month: Nov 24
calendar_year: 2014
thumbnail: "/assets/img/todd-palmer.jpg"
feature: "http://dz0zjhi21dz2t.cloudfront.net/media/80702/photos/66884/1366.jpg"
concert_id: 3
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>STRAVINSKY 3 Pieces for Clarinet Solo<br>MILHAUD Suite for Violin, Clarinet and Piano Op. 157b</p>
	<h4>Main Course</h4>
	<p>HARRISON Grand Duo for Violin and Piano</p>
	<h4>Dessert</h4>
	<p>WEBER Grand Duo Concertant for Clarinet and Piano</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Todd Palmer, <em>clarinet</em></li>
		<li>Jesse Mills, <em>violin</em></li>
		<li>Rieko Aizawa, <em>piano</em></li>
	</ul>
</div>