---
layout: concert
date: 2014-11-11 19:00
title: "TBA"
published: false
slug: /1415/november2
location: "TBA"
group: TBA
address: TBA | NYC
calendar_month: Nov 11
calendar_year: 2014
thumbnail: "/assets/img/concerts/dec_placeholder.jpg"
feature: "/assets/img/concerts/dec_placeholder.jpg"
concert_id: 20
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>Music to be announced</p>
	<h4>Main Course</h4>
	<p>Music to be announced</p>
	<h4>Dessert</h4>
	<p>Music to be announced</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>To be announced</li>
	</ul>
</div>