---
layout: concert
date: 2014-11-24 19:00
title: "Todd Palmer with Jesse Mills and Rieko Aizawa at Harding's"
published: true
upcoming: true
slug: /1415/november
location: "Harding's"
group: Todd Palmer with Jesse Mills and Rieko Aizawa
address: 32 East 21st St | NYC
calendar_month: Nov 24
calendar_year: 2014
thumbnail: "/assets/img/artists/todd-palmer-thumbnail.jpg"
food-pic: "assets/img/food-oysters.jpg"
feature: "http://dz0zjhi21dz2t.cloudfront.net/media/80702/photos/66884/1366.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/7j9kLugdlBE7XB7OdQJ0qi"
concert_id: 3
home_order: 2
featured: true
eventbrite: "//eventbrite.com/tickets-external?eid=12914051275&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>STRAVINSKY 3 Pieces for Clarinet Solo<br>MILHAUD Suite for Violin, Clarinet and Piano Op. 157b</p>
	<h4>Main Course</h4>
	<p>HARRISON Grand Duo for Violin and Piano</p>
	<h4>Dessert</h4>
	<p>WEBER Grand Duo Concertant for Clarinet and Piano</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/7j9kLugdlBE7XB7OdQJ0qi" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Todd Palmer, <em>clarinet</em></li>
		<li>Jesse Mills, <em>violin</em></li>
		<li>Rieko Aizawa, <em>piano</em></li>
	</ul>
</div>