---
layout: concert
date: 2014-10-27 19:00
title: "Jasper String Quartet at Harding's"
published: true
upcoming: false
slug: /1415/october
location: "Harding's"
group: Jasper String Quartet
address: 32 East 21st St | NYC
calendar_month: Oct 27
calendar_year: 2014
thumbnail: "/assets/img/artists/jasperquartet-thumbnail.jpg"
feature: "http://dz0zjhi21dz2t.cloudfront.net/media/80702/photos/66884/1366.jpg"
food-pic: "/assets/img/food-oysters.jpg"
spotify_link: "http://open.spotify.com/user/124965408/playlist/2VCWptmfUu7xnYsCNtky5y"
concert_id: 2
home_order: 1
featured: true
eventbrite: "//eventbrite.com/tickets-external?eid=12913421391&ref=etckt"
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>BEETHOVEN String Quartet Op. 18 No. 3</p>
	<h4>Main Course</h4>
	<p>BARTOK String Quartet No. 5, Mvts I, IV, V</p>
	<h4>Dessert</h4>
	<p>GREENSTEIN Four on the Floor<br>MONTI Csardas</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a target="_blank" href="http://open.spotify.com/user/124965408/playlist/2VCWptmfUu7xnYsCNtky5y" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>J Freivogel, <em>violin</em></li>
		<li>Sae Chonabayashi, <em>violin</em></li>
		<li>Sam Quintal, <em>viola</em></li>
		<li>Rachel Henderson Freivogel, cello</li>
	</ul>
</div>