---
layout: concert
title: "Jasper String Quartet at Harding's"
published: true
slug: /1415/october
location: "Harding's"
group: Jasper String Quartet
address: 32 East 21st St | NYC
calendar_month: Oct 27
calendar_year: 2014
thumbnail: "http://www.jasperquartet.com/gallery/gallery-26309.jpg"
feature: "http://dz0zjhi21dz2t.cloudfront.net/media/80702/photos/66884/1366.jpg"
concert_id: 2
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>LUDWIG Pale Blue Dot</p>
	<h4>Main Course</h4>
	<p>HAYDN String Quartet Op. 76, No. 1 in G Major</p>
	<h4>Dessert</h4>
	<p>KREISLER Caprice Viennois<br>ULLMANN String Quartet No. 3</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>J Freivogel, <em>violin</em></li>
		<li>Sae Chonabayashi, <em>violin</em></li>
		<li>Sam Quintal, <em>viola</em></li>
		<li>Rachel Henderson Freivogel, cello</li>
	</ul>
</div>