---
layout: concert
title: "DECODA at Harding's"
published: true
slug: /1415/september
location: "Harding's"
group: DECODA
address: 32 East 21st St | NYC
calendar_month: Sept 29
calendar_year: 2014
thumbnail: "/assets/img/musicians-bg.jpg"
feature: "/assets/img/musicians-bg.jpg"
concert_id: 1
tags: [example,news,story]
---

<div class="column two-thirds">
	<h3>Itinerary</h3>
	<h4>Cocktails & Amuse-Bouche</h4>
	<p>BACH keyboard prelude in D major<br>VIVALDI Violin Concerto "Grosso Mogul" RV 208</p>
	<h4>Main Course</h4>
	<p>GLASS Quartet No 5, mvt 3<br>TELEMANN Oboe Concerto in E minor</p>
	<h4>Dessert</h4>
	<p>BITTOVA "Hoboj" for oboe and viola <br>BACH Oboe and Violin Concerto</p>
	<h4>Mingle & Meet the Musicians</h4>
	<p><em>Program includes approx 60 minutes of music.<br><br></em></p>
	<p><a href="#" class="button raised-button primary" style="margin-right: 1em;">Listen on Spotify <i class="fa fa-spotify"></i></a> <a href="#" class="button raised-button primary">Prix Fixe Menu <i class="fa fa-cutlery"></i></a></p>
</div>
<div class="column one-third artists-sidebar">
	<h3>Artists</h3>
	<ul class="unstyled">
		<li>Owen Dalby, <em>violin</em></li>
		<li>James Austin Smith, <em>oboe</em></li>
		<li>Anna Elashvili, <em>violin 1</em></li>
		<li>Clara Lyon, <em>violin 2</em></li>
		<li>Meena Bhasin, <em>viola</em></li>
		<li>Caitlin Sullivan, <em>cello</em></li>
		<li>Doug Balliett, <em>double bass</em></li>
		<li>David Kaplan, <em>harpsichord</em></li>
	</ul>
</div>